@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: white !important;
  color: black;
}
input,
.dropdown-content,
.dropdown,
.btn {
  background-color: #f3f3f3;
}
.btn {
  border: 2px solid #026937;
  background-color: white;
  color: #026937;
  box-shadow: none;
  margin: 0;
}
.btn:hover {
  border: 2px solid #026937;
  box-shadow: none;
  background-color: #026937;
  color: #f3f3f3;
}
